<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Drafting Board</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="../static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/stylish-portfolio.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

  <!-- Header -->
    <header class="masthead d-flex">
      <div class="container text-center my-auto">
        <h1 class="mb-1">DraftingBoard</h1>
        <h3 class="mb-5">
          <em>Clarity in content and code.</em>
        </h3>
        
	    <div class="container">
        <hr class="star-light mb-5">
      
      {% if my_form_result=='Empty' %}
      <div class="row mt-4 justify-content-center">
            <h4 class="text-danger text-center text-uppercase">Brevity is the soul of wit, but there is nothing to analyse here!</h4>
      </div>

      {% elif my_form_result=='NotEmpty' %}     

	  <div class="row">
            <!-- Column 1 -->
            <div class="col-xl-5 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Draft</div>
                      <div class="h5 mb-0 text-gray-800">
					  
					  <!-- Output returned here: copy of input text -->
					  <div class="text-xs h6 mb-0 text-secondary overflow-y:scroll" style="height: 475px">
					  {{my_input}}
					  </div>
					  
					  </div>
	 
					  
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Column 2 -->
            <div class="col-xl-7 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body" style="vertical-align:text-top overflow-y:scroll">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Analytics</div>
					  						

						
                    </div>
                  </div>			
                </div>
				
				<div style="display:table-cell; vertical-align:text-top; text-align:center">
				<img src={{results_plot}} width=90% align=top>
				</div>
				
              </div>
			  
            </div>
			</div>
		    <div class="row">
            <!-- Column 3 -->
            <div class="col-xl-5 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Similar Articles</div>
                      <div class="row no-gutters align-items-center">
                        </div>
                        <div class="col">
						 
                          <div class="h6 mb-0 mr-3 text-gray-800" align="left" style=100%>
						  <p><b>Article 1:</b> {{article1_title}}</p>
						  <p><b>Article 2:</b> {{article2_title}}</p>
						  <p><b>Article 3:</b> {{article3_title}}</p>
						  </div>
                       
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
			
			<!-- Column 4 -->
            <div class="col-xl-7 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body" style="vertical-align:text-top overflow-y:scroll">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Suggestions</div>
					  
					<div class="h6 mb-0 mr-3 text-gray-800" align="left" style=100%>
						  <p><b>1:</b> {{sugg1}}</p>
						  <p><b>2:</b> {{sugg2}}</p>
				  </div>
					  
					</div>						
                    </div>
                  </div>			
                </div>

				
              </div>
			  
            </div>

	  </div>


      {% else %}
      {% endif %}      
      </div>
		
		
		
      </div>
      <div class="overlay"></div>
    </header>
    

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/stylish-portfolio.min.js"></script>

  </body>

</html>
